@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url("OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("OpenSans-Bold.woff2") format("woff2");
}

body {
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0px;
}

#header {
    width: 1152px;
    max-width: 90vw;
    height: 36px;
    max-height: 12.5vw;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

#left-header,
#right-header {
    flex: 1;
    margin: auto;
}

#right-header {
    text-align: right;
}

a {
    color: inherit;
}

#container {
    width: 1152px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

hr {
    margin: 8px 0px 8px 0px;
}

#response {
    margin-top: 3px;
    overflow: auto;
}

.labeled {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    margin-right: 8px;
}

label {
    margin-right: 8px;
}

select {
    flex: 1;
    height: 28px;
    font-family: inherit;
    font-size: inherit;
}

#param-input {
    display: flex;
}

button {
    flex: 1;
    margin: 4px 0px 4px 0px;
    height: 28px;
    font-family: inherit;
    font-size: inherit;
}

input {
    flex: 1;
    height: 22px;
    font-family: inherit;
    font-size: inherit;
}

span {
    display: flex;
    height: 100%;
    overflow: auto;
}

h1 {
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-size: 1.2em;
    margin: 0px 0px 0px 0px;
}

h3 {
    font-size: inherit;
    margin: 8px 0px 0px 0px;
}

table {
    margin: 4px auto auto auto;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 4px;
}

th {
    font-weight: 700;
}

td {
    text-align: center;
}

.cardinfo {
    display: flex;
    justify-content: left;
    gap: 8px;
}

.decklarge {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px 4px 0px;
}

.decksmall {
    display: flex;
}

.gamedeck {
    margin-top: 8px;
    display: inline-block;
    word-wrap: break-word;
    width: 50%;
}